:root {
  --main-color: #444;
  --accent-color: #00b3cc;
  --accent-color-dark: #005b88;
  --transperantgray-color: rgba(255, 255, 255, 0.2);
}

body {
  font-family: "Merriweather", serif;
  background-color: #fff;
  color: var(--main-color);
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

li {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 10px;
  /* background-color: rgba(0, 161, 190, 0.4); */
  /* border: 1px solid black;  */
}

.center {
  text-align: center;
}
.text-accent {
  color: var(--accent-color);
  font-weight: 900;
}

.transperant {
  color: rgba(255, 255, 255, 0.7);
}
.light {
  background-color: var(--accent-color);
}
.dark {
  background-color: var(--accent-color-dark);
}

.light2 {
  background-color: rgba(0, 161, 190, 1);
}

.light3 {
  background-color: rgba(0, 135, 170, 1);
}

.light4 {
  background-color: rgba(0, 109, 149, 1);
}

.separator-small {
  margin-top: 2rem;
}

.separator-large {
  margin-top: 6rem;
}

.btn {
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.btn.light:hover {
  background-color: #007080;
  transition: ease 0.3s;
}

.btn.dark:hover {
  background-color: #00283c;
  transition: ease 0.3s;
}

.btn.white {
  color: #444;
  background-color: #fff;
}

.btn.white:hover {
  background-color: #ddd;
  transition: ease 0.3s;
}

.roundbtn {
  display: block;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}

h2 {
  font-size: 3.5rem;
  line-height: 4rem;
  margin: 1.2rem 0;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 1000;
  margin: 0.8rem 0;
}

h6 {
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin: 1rem 0;
  padding-top: 1rem;
}

.hr-transperant {
  border: 0;
  height: 0;
  border-bottom: 0.5px solid var(--transperantgray-color);
}

.hr-accent {
  border: 0;
  width: 4rem;
  margin: 0 auto;
  border-bottom: 0.5px solid var(--accent-color);
}
.hr-accent-dark {
  border: 0;
  border-bottom: 3px solid var(--accent-color-dark);
  width: 4rem;
  margin-left: 0;
}

p {
  line-height: 1.8rem;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.columns-nowrap {
  display: flex;
  gap: 1rem;
}

.columns-item25 {
  position: relative;
  box-sizing: border-box;
  flex: 1 1 25%;
}

.columns-item50 {
  position: relative;
  box-sizing: border-box;
  flex: 1 1 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
}

.middle {
  color: var(--accent-color);
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-info {
  position: relative;
  padding: 2rem;
  color: #fff;
}

.border {
  border: 0.5px solid black;
}

#showcase {
  background-image: url(../img/showcase.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

#topbar {
  padding-top: 10px;
  display: flex;
}

#topbar .items {
  display: flex;
  margin-left: auto;
}

#topbar .items .tile {
  /* margin-left: 2.3rem; */
  display: flex;
  font-size: 0.8rem;
  color: #fff;
}

#topbar i {
  margin-right: 0.8rem;
  margin-left: 1rem;
  color: var(--accent-color);
}

#mainnav {
  display: flex;
  justify-content: flex-start;
}

#mainnav .burger {
  display: none;
}

#mainnav .main-menu {
  display: flex;
  flex-basis: 60%;
  list-style-type: none;
  padding-left: 0;
}

#mainnav .main-menu li {
  position: relative;
  flex-grow: 1;
}

#mainnav .sub-menu a,
#contact-details a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 0.8rem;
}

#mainnav .sub-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  width: 100%;
  padding: 0;
  border-top: 1px solid var(--accent-color);
  background-color: #444;
  display: none;
  z-index: 1000;
}

#mainnav .sub-menu > * {
  line-height: 2rem;
}

#mainnav .sub-menu i {
  margin: 0 10px;
  color: #ccc;
}

#mainnav .sub-menu ul.sub-menu {
  top: 0;
  left: 100%;
  width: 100%;
}

#mainnav .main-menu li:hover > .sub-menu,
.sub-menu > li:hover > .sub-menu2 {
  display: block;
}

#mainnav .main-menu > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

#mainnav li a:hover {
  color: var(--accent-color);
  transition: ease 0.3s;
}

#mainnav .active {
  padding-bottom: 0.8rem;
  border-bottom: var(--accent-color) 3px solid !important;
}

.social-menu a {
  color: var(--accent-color);
  text-align: end;
}

.social-menu {
  margin-left: auto;
  flex-basis: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.social-menu li {
  flex-grow: 1;
  flex-basis: 100%;
  text-align: end;
}

.carousel {
  position: relative;
  height: 60vh;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem 1rem;
  cursor: pointer;
}

.carousel-button-left {
  left: 0rem;
  z-index: 2;
}

.carousel-button-right {
  right: 0rem;
  z-index: 2;
}

.carousel-track {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  transition: transform 0.8s ease;
  /* border: 1px solid salmon; */
  max-width: 70%;
  height: 100%;
}

.carousel-track > * {
  display: none;
}

.current-slide {
  display: inline;
}

.carousel-slide {
  flex-shrink: 0;
  flex-basis: 100%;
  /* border: 1px solid green; */
}

.carousel h2 {
  color: #fff;
}

.carousel p {
  color: #fff;
  padding: 1rem 0;
}

.carousel .columns-nowrap > * {
  /* flex-grow: 1; */
  flex-shrink: 1;
  /* flex-basis: 50%; */
}

.carousel-nav {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.carousel-indicator {
  border-radius: 50%;
  border: 0;
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 5px;
  padding: 0;
}

.carousel-indicator.current-slide {
  background-color: var(--accent-color);
}

.is-hidden {
  display: none;
}

#offers-team {
  background: url(../img/backgroundSectionServices.jpg) no-repeat;
  background-size: cover;
}

#offers-team .columns-item25 > .roundbtn {
  position: absolute;
  top: -38px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 2.5rem;
  border: var(--accent-color-dark) 2px solid;
  background-color: var(--accent-color-dark);
}

#offers-team .columns {
  align-items: stretch;
}

#offers-team .card-info {
  padding: 2rem 2rem 4rem 2rem;
}

#offers-team .columns-item25 > .roundbtn:hover {
  background-color: white;
  color: var(--accent-color-dark);
  transition: ease-in 0.3s;
}

#offers-team .hr-accent {
  margin-left: 0;
}

#offers-team .columns-nowrap > img {
  max-width: 400px;
  height: fit-content;
}

#offers-team .columns p img {
  margin-top: 50px;
}
#offers-team .columns p {
  font-size: 1.3rem;
  line-height: 2rem;
}

.bg-grau {
  background-color: #eee;
  margin: 0;
  padding: 5rem 0;
}

.bg-grau .columns {
  gap: 1rem;
}

.bg-grau .columns .columns-item25 {
  flex: 1 1 20%;
}

.img-container {
  position: relative;
}

.img-container img {
  display: block;
  /* max-width: 500px; */
  width: 100%;
  height: auto;
  transition: 0.5s ease;
}

.img-container:hover .overlay {
  opacity: 0.7;
}

.img-container:hover .middle {
  opacity: 1;
}

.card-btn-cont {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0%;
  transform: translate(0, -50%);
  width: 100px;
}

.card-btn-cont > .roundbtn {
  height: 42px;
  width: 42px;
  background-color: var(--accent-color);
  border: var(--accent-color) 2px solid;
  text-align: center;
  line-height: 42px;
  font-size: 20px;
}

.card-btn-cont > .roundbtn:hover {
  background-color: white;
  color: var(--accent-color);
  transition: ease-in 0.3s;
}

.social-menu-cards {
  display: flex;
  justify-content: flex-end;
}

.social-menu-cards > .roundbtn {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: #fff 1px solid;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  margin: 5px;
}

.social-menu-cards > .roundbtn:hover {
  background-color: white;
  border: var(--accent-color) 1px solid;
  color: var(--accent-color);
  transition: ease-in 0.3s;
}

#testimonials .client-photo {
  position: relative;
  line-height: 0;
}

#testimonials .client-photo img {
  width: 116px;
  height: auto;
  border-radius: 50%;
  border: 2px #fff solid;
}

.client-photo ~ img {
  width: 116px;
  height: auto;
}

#testimonials .roundbtn {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  border: #fff 1px solid;
  color: black;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

#testimonials .roundbtn:hover {
  background-color: none;
  border: var(--accent-color) 1px solid;
  color: var(--accent-color);
  transition: ease-in 0.3s;
}
#testimonials p {
  position: relative;
  color: #fff;
  padding-left: 2.5rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

#testimonials .columns-nowrap {
  padding: 2rem;
}

.name {
  font-weight: 900;
  margin-top: 2.5rem;
  color: #fff;
}
.quotes {
  position: absolute;
  top: -16px;
  left: 16px;
  opacity: 0.2;
}

.contact-us {
  color: #fff;
  align-items: center;
}

.contact-us a {
  margin-left: auto;
}
#services .card-info {
  color: black;
}
.service {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 2rem;
}

#contact-details {
  position: relative;
  color: #fff;
  font-size: 14px;
  height: 480px;
}

#contact-details iframe {
  margin: 0;
  padding: 0;
}

#contact-details .contact-data {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0rem 2.5rem;
  max-width: 350px;
  height: 480px;
}

#contact-details i {
  font-size: 20px;
  margin: 0 1rem 1rem 0;
}

#contact-details address {
  font-style: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
}
#contact-details h3 {
  margin: 1.5rem;
}

th {
  padding: 0.8rem 1rem 0.8rem 0rem;
  text-align: left;
  border-bottom: rgba(0, 161, 190, 0.4) solid 1px;
}
th:last-child {
  font-weight: normal;
}

footer {
  background-image: url(../img/shutterstock_272306351-dark.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
footer p {
  font-size: 14px;
  line-height: 25px;
  margin: 0;
}

footer a {
  text-decoration: none;
  color: #fff;
  height: 100%;
  line-height: 0;
}

footer h5 {
  margin: 0 0;
  font-weight: 600;
}

footer img {
  height: 100%;
}

footer .columns:nth-child(2) {
  margin-left: 2rem;
}

footer .columns .icon {
  margin-right: 1rem;
}

.socket {
  color: #fff;
  justify-content: center;
  align-items: center;
}

.socket p {
  font-size: 10px;
}

.socket img {
  width: auto;
  max-height: 40px;
  margin: 1rem;
}
.socket .btn.white {
  font-size: 10px;
  padding: 5px 40px;
}

/* Large devices -desktops */

@media only screen and (max-width: 992px) {
  .service {
    grid-template-columns: repeat(3, auto);
  }
}
/* Medium devices - tablets */
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 1rem 0;
  }

  h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0;
  }

  h6 {
    font-size: 1rem;
    line-height: 1.4rem;
    margin: 0.5rem 0;
  }

  #topbar .items,
  .hr-transperant {
    display: none;
  }

  #mainnav .burger {
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 999;
  }

  #mainnav .burger > * {
    position: absolute;
    height: 3px;
    width: 40px;
    background: #fff;
    border-radius: 2px;
    transition: 0.5s;
    transform-origin: center;
  }
  .line1 {
    top: 12px;
  }
  .line2 {
    top: 24px;
  }
  .line3 {
    top: 36px;
  }

  #mainnav .burger:hover > * {
    background-color: var(--accent-color);
  }

  #mainnav .main-menu {
    flex-direction: column;
    overflow: visible;
    position: absolute;
    top: 71.4px;
    left: -1px;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 90vh;
    z-index: 5;
    transition: transform 0.5s ease-in;
    transform: translate(-100%);
    padding-top: 60px;
  }
  #mainnav .sub-menu {
    width: 60% !important;
  }

  .nav-active {
    transform: translateX(0%) !important;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0.5;
      /* transform: translateX(-100%); */
      left: -100%;
    }
    to {
      opacity: 1;
      /* transform: translateX(0px); */
      left: 0px;
    }
  }

  .toggle .line1 {
    transform: translateY(12px) rotate(-45deg);
    background-color: var(--main-color) !important;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: translateY(-12px) rotate(45deg);
    background-color: var(--main-color) !important;
  }

  #mainnav .main-menu li {
    flex-basis: 3rem;
    flex-grow: 0;
    /* opacity: 0.5; */
  }

  #mainnav .main-menu li a {
    color: var(--main-color);
  }

  #mainnav .main-menu li a:hover {
    color: var(--accent-color);
  }

  #mainnav .main-menu > li {
    text-align: center;
    padding-right: 0;
  }

  #mainnav .sub-menu li {
    text-align: start;
  }

  #mainnav .main-menu .sub-menu {
    background-color: #fff;
    left: 100%;
    top: 0;
    width: 100%;
    align-items: left;
  }

  .social-menu {
    flex-basis: 30%;
    padding: 0;
    align-content: center;
  }

  .social-menu li {
    text-align: center;
  }

  .social-menu li {
    justify-content: space-between;
  }

  .columns-item25 {
    flex: 1 1 50%;
  }

  .columns-item50 {
    flex: 1 1 100%;
    padding: 1rem;
  }

  .service {
    grid-template-columns: repeat(2, auto);
  }

  #testimonials .client-photo img {
    width: 300px;
  }

  #testimonials .roundbtn {
    top: 310px;
    left: 50%;
  }

  #testimonials .columns-nowrap,
  footer .columns-nowrap,
  #offers-team .columns-nowrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  .contact-us a {
    margin: 10px auto;
  }
  footer {
    text-align: center;
  }

  footer .hr-accent-dark {
    margin: 10px auto;
  }

  footer .columns {
    justify-content: center;
  }

  footer .columns:nth-child(2) {
    margin-left: 0;
  }
}

/* Small devices - landscape phone */

@media only screen and (max-width: 576px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0.5rem 0;
  }
  p {
    margin: 0.8rem 0;
  }
  .btn {
    padding: 16px;
  }

  .columns {
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .carousel-track {
    max-width: 100%;
  }

  .bg-grau .columns {
    gap: none;
  }
  .separator-large {
    margin-top: 3rem;
  }
  .card-info {
    padding: 1rem;
  }

  .social-menu-cards {
    justify-content: center;
  }

  #testimonials .client-photo img {
    width: 250px;
  }

  #testimonials .roundbtn {
    top: 250px;
  }
  #testimonials p {
    padding: 0;
  }

  #offers-team .columns-nowrap > img {
    max-width: 350px;
  }
  .service {
    grid-template-columns: repeat(1, auto);
    gap: 2rem;
  }
  #contact-details {
    position: static;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: var(--accent-color-dark);
  }
  #contact-details .contact-data {
    position: static;
    width: 100%;
    padding: 10px;
  }

  .columns.separator-small {
    margin: 1rem 0rem;
  }
  footer img{
    margin: 1rem 0;
  }
}
